:root {
  --c-olive-green: #afc549;
  --c-light-grey: #a2a3a7;
  --c-light-yellow: #e9bc00;
  --c-white: #fff;
  --c-black: #000;
  --c-cyan: #21EBFF;
  --c-pink: #FF91FF;
  --c-green: #84E421;

  --page_bg_color: var(--c-black);
  /*##################  GRID DIMENSION #################*/

  /* Square Grid    */
  --grid-cell-width: 370px; /* 300*/
  --grid-cell-height: 300px; /*250*/

  /*##################  GRID ALIGNMENT #################*/
  /* Header Grid    */
  --header-padding: 10px;
  --header-col-gap: 10px;
  --header-row-gap: 10px;

  /* Square Grid   */
  --grid-cell-row-gap: 10px;
  --grid-cell-col-gap: 10px;
  --grid-cell-padding: 10px;

  /*##################  GRID COLORS    #################*/
  /* Header Grid    */
  --header-bg-color: var(--page_bg_color);

  /* Square Grid */
  --grid-cell-bg-color: var(--page_bg_color);

  /*##################  GRID ITEM COLORS #################*/

  /* Header Grid Items   */
  --header-item-fg-color: var(--c-cyan);
  --header-item-bg-color: var(--c-black);
  --header-item-border-color: var( --c-light-grey);

  /* Square Grid Item  */
  --grid-cell-item-bg-color: var(--c-black);
  --grid-cell-item-fg-color: var(--c-white);
  --grid-cell-item-border-color: var( --c-light-grey);

  /*##################  GRID ITEM BORDERS #################*/
  /* Header Grid Items */
  --header-item-border-thickness: 1px;

  /* Square Grid Items */
  --grid-cell-item-border-thickness: 1px;
}

body{
   background-color: var(--page_bg_color);
}

/* for screen width > 1200*/
.header-grid {
  display: grid;
  position: relative;
  grid-column-gap: var(--header-col-gap);
  grid-row-gap: var(--header-row-gap);
  /*2 columns [ each 1fr correspond to one column ]*/
  grid-template-columns: 1fr 1fr;
  background-color: var(--header-bg-color);
  padding: var(--header-padding);
}

.header-grid-item {
  display: flex;
  color: var(--header-item-fg-color);
  background-color: var(--header-item-bg-color);
  border: var(--header-item-border-thickness) solid
    var(--header-item-border-color);
  height: 30px; /* grid row height*/
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.square-grid {
  display: grid;
  position: relative;
  grid-column-gap: var(--grid-cell-col-gap);
  grid-row-gap: var(--grid-cell-row-gap);
  --n-col-grids: 4;
  /*3 columns [ each auto correspond to one column ]*/
  grid-template-columns: repeat(var(--n-col-grids), var(--grid-cell-width));
  background-color: var(--grid-cell-bg-color);
  align-items: center;
  justify-content: center;
  padding: var(--grid-cell-padding);
}

.square-grid-item {
  display: flex;
  color: var(--grid-cell-item-fg-color);
  background-color: var(--grid-cell-item-bg-color);
  border: var(--grid-cell-item-border-thickness) solid
    var(--grid-cell-item-border-color);
  height: var(--grid-cell-height); /* grid height*/
  width: auto;
  padding: 20px; /* pading for text inside grid*/
  font-size: 40px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

/* Property for screen width less than or equal to 700px */
@media (max-width: 1300px) {
  /*Property for square-grid Class*/
  .square-grid {
    /*number of grid cells along each column - calc() result is always integer*/
    --n-col-grids: 3;
  }
}

/* Property for screen width less than or equal to 700px */
@media (max-width: 1200px) {
  /*Property for square-grid Class*/
  .square-grid {
    /*number of grid cells along each column - calc() result is always integer*/
    --n-col-grids: 2;
  }
}

/* Property for screen width less than or equal to 700px */
@media (max-width: 1100px) {
  /*Property for square-grid Class*/
  .square-grid {
    /*number of grid cells along each column - calc() result is always integer*/
    --n-col-grids: 2;
  }
}

/* Property for screen width less than or equal to 700px */
@media (max-width: 1000px) {
  /*Property for square-grid Class*/
  .square-grid {
    /*number of grid cells along each column - calc() result is always integer*/
    --n-col-grids: 2;
  }
}

/* Property for screen width less than or equal to 700px */
@media (max-width: 900px) {
  /*Property for square-grid Class*/
  .square-grid {
    /*number of grid cells along each column - calc() result is always integer*/
    --n-col-grids: 2;
  }
}

/* Property for screen width less than or equal to 700px */
@media (max-width: 800px) {
  /*Property for square-grid Class*/
  .square-grid {
    /*number of grid cells along each column - calc() result is always integer*/
    --n-col-grids: 1;
  }
}

/* Property for screen width less than or equal to 700px */
@media (max-width: 700px) {
  /*Property for square-grid Class*/
  .square-grid {
    /*number of grid cells along each column - calc() result is always integer*/
    --n-col-grids: 1;
  }
  .header-grid {
    grid-template-columns: 1fr;
  }
  .header-grid-item {
    font-size: 20px;
  }
}

/* Property for screen width less than or equal to 500px */
@media (max-width: 500px) {
  /*Property for square-grid Class*/
  .square-grid {
    /*number of grid cells along each column - calc() result is always integer*/
    --n-col-grids: 1;
  }
  .header-grid {
    grid-template-columns: 1fr;
  }
  .header-grid-item {
    font-size: 20px;
  }
}
